div{
    background-color: chartreuse;
    padding: 20px;
    scrollbar-darkshadow-color: aquamarine;
    font-size: larger;
    font-size-adjust: initial;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 20px 20px;
    border: 50%;
}